
* {
    margin: 0;
    padding: 0;
}

.cover-about_us {
    width: 100%;
    background-position: center;
}

.cover__about-us-text__big {
    font-family: 'Montserrat-500', sans-serif;
    font-style: normal;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    color: #101010;
}

.cover__about-us-text__small {
    width: 407px;
    height: 33px;
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 33px;
    color: #101010;
    margin-top: 20px;
}


.photo_salon {
    display: flex;
    background-color: #FFFAE6;
    border: 1px solid #FFFAE6;
    border-radius: 50% 50% 0 0;
    margin-top: 130px;

}

.about_us {
    display: flex;
    flex-wrap: wrap;
}

.cover__block-image {
    display: flex;
    flex-direction: column;
}

.cover__block-pic-position {
    align-self: end;
    position: absolute;
    z-index: 1;
}

.cover__block-pic {

    width: 186px;
    height: 186px;
    margin-top: 34px;

}

.about_us {
    margin: 0 200px;
    display: flex;
}

.about_us__image_salon {

}

.about_us__text {
    width: 539px;
    margin-left: 91px;
}

.about_us__text__big {
    font-family: 'Montserrat-500', sans-serif;
    font-style: normal;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    color: #101010;
}

.about_us__text__norm {
    font-family: 'Montserrat-600', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #101010;
    margin-top: 25px;
}

.about_us__text__small {
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #656363;
    margin-top: 15px;
}

.photo_salon {
    flex-direction: column;
}

.photo_salon__image_salon {
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 195px;
}

.photo_salon-overflow {
    display: flex;
    overflow-x: scroll;
    margin-top: 70px;
}

.card-photo_salon-1 {
    margin: 0 153px;
}

.specialists {
    display: flex;
    flex-direction: column;
    margin: 0 200px;
}

.specialists__position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.specialists__text-big {
    font-family: 'Montserrat-500', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    color: #101010;
    margin-top: 130px;
}

.card-specialist {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 362px;
}

.card-specialist__photo {
    border-radius: 200px;
}

.top-stylist {
    font-family: 'Montserrat-700', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #D0202A;
    margin-top: 10px;
}

.card-specialist__name {
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #101010;
    margin-top: 10px;
}

.card-specialist__text {
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    color: #101010;
    margin-top: 15px;
}

.butt-about_master {
    width: 361.61px;
    height: 38px;
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 62px;;
    font-family: 'Montserrat-600', serif;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #D0202A;
    margin-right: 12.5%;
    margin-top: 25px;
}

.specialists__butt-sign-up {
    width: 361.61px;
    height: 38px;
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 62px;;
    font-family: 'Montserrat-600', serif;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #D0202A;
    margin-top: 10px;
    margin-right: 12.5%;
}

.specialists__butt-sign-up:hover {
    background-color: #D0202A;
    color: #FFFFFF;
}

.mgt-130 {
    margin-top: 130px;
}
