
* {
    margin: 0;
    padding: 0;
}

.cover-about_us{
    width: 100%;
    background-position: center;
}

.cover__about-us-text__big {
    font-family: 'Montserrat-500', sans-serif;
    font-style: normal;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    color: #101010;
}

.cover__about-us-text__small{
    width: 407px;
    height: 33px;
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 33px;
    color: #101010;
    margin-top: 20px;
}


.photo_salon{
    display: flex;
    background-color: #FFFAE6;
    border: 1px solid #FFFAE6;
    border-radius: 50% 50% 0 0;
    margin-top: 130px;

}

.about_us{
    display: flex;
    flex-wrap: wrap;
}

.cover__block-image{
    display: flex;
    flex-direction: column;
}

.cover__block-pic-position{
    align-self: end;
    position: absolute;
    z-index: 1;
}

.cover__block-pic{

    width: 186px;
    height: 186px;
    margin-top: 34px;

}

.about_us{
    margin: 0 200px;
    display: flex;
}

.about_us__image_salon{

}

.about_us__text{
    width: 539px;
    margin-left: 91px;
}

.about_us__text__big{
    font-family: 'Montserrat-500', sans-serif;
    font-style: normal;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    color: #101010;
}

.about_us__text__norm{
    font-family: 'Montserrat-600', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #101010;
    margin-top: 25px;
}

.about_us__text__small{
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #656363;
    margin-top: 15px;
}

.photo_salon{
    flex-direction: column;
}

.photo_salon__image_salon{
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 195px;
}

.photo_salon-overflow {
    display: flex;
    overflow-x: scroll;
    margin-top: 70px;
}

.card-photo_salon-1{
    margin: 0 153px;
}
