
* {
    margin: 0;
    padding: 0;
}

.cover-about_us {
    width: 100%;
    background-position: center;
}

@media screen and (max-width: 640px) {
    .cover__about_us {
        align-items: flex-end;
    }
}

.cover__block-text__about_us {
    margin-top: 130px;
    margin-left: 200px;
}

@media screen and (max-width: 640px) {
    .cover__block-text__about_us {
        margin-top: 43px;
        margin-left: 20px;
        width: 50%;
    }
}
.cover-block__about_us {
    width: 100%;
    display: flex;
}

.cover__about-us-text__big {
    font-family: 'Montserrat-500', sans-serif;
    font-style: normal;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    color: #101010;
}

@media screen and (max-width: 640px) {
    .cover__about-us-text__big  {
        font-size: 44px;
        line-height: 54px;
    }
}

.cover__about-us-text__small {
    width: 407px;
    height: 33px;
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 33px;
    color: #101010;
    margin-top: 20px;
}

@media screen and (max-width: 640px) {
    .cover__about-us-text__small   {
        font-size: 14px;
        line-height: 17px;
    }
}

.cover__photo_salon {
    display: flex;
    background-color: #FFFAE6;
    border: 1px solid #FFFAE6;
    border-radius: 50% 50% 0 0;
    margin-top: 130px;
    flex-direction: column;
    margin-left: 257px;
}

@media screen and (max-width: 640px) {
    .cover__photo_salon   {
        margin: 0;
        width: 206px;

    }
}

.about_us {
    display: flex;
    flex-wrap: wrap;
}

.cover__block-image {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 640px) {
    .cover__block-image  {
        align-self: self-end;
    }
}

.cover__block-pic-position {
    align-self: end;
    position: absolute;
    z-index: 1;
}
@media screen and (max-width: 640px) {
    .cover__block-pic-position {

    }
}

.cover__block-pic {
    width: 186px;
    height: 186px;
    margin-top: 34px;
}

@media screen and (max-width: 640px) {
    .cover__block-pic {
        width: 135px;
        height: 135px;
        margin-top: -21px;
        margin-right: -48px;
    }
}


.about_us {
    margin: 118px 200px 0;
    display: flex;
}

@media screen and (max-width: 640px) {
    .about_us {
        margin: 101px 20px 0;
    }
}

@media screen and (max-width: 640px) {
    .about_us__image_salon {
        display: none;
    }
}


.about_us__text {
    width: 539px;
    margin-left: 91px;
}

@media screen and (max-width: 640px) {
    .about_us__text {
        margin-left: 0;
    }
}

.about_us__text__big {
    font-family: 'Montserrat-500', sans-serif;
    font-style: normal;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    color: #101010;
}

.about_us__text__norm {
    font-family: 'Montserrat-600', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #101010;
    margin-top: 25px;
}

.about_us__text__small {
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #656363;
    margin-top: 15px;
}

.photo_salon {
    display: flex;
    flex-direction: column;
}


.photo_salon__image_salon {
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 195px;
}

@media screen and (max-width: 640px) {
    .photo_salon__image_salon {
        font-family: 'Montserrat-500', sans-serif;
        font-size: 44px;
        line-height: 54px;
        margin-left: 20px;
        margin-top: 80px;
    }
}

.photo_salon-overflow {
    display: flex;
    overflow-x: scroll;
    margin: 70px 87px 0;
}

@media screen and (max-width: 640px) {
    .photo_salon-overflow  {
        margin-top: 30px;
    }
}

.card-photo_salon-1 {
    margin: 0 153px;
}

@media screen and (max-width: 640px) {
    .card-photo_salon-1   {
        margin:0 10px;
        width: 472px;
        height: 292px;
    }
}

.specialists {
    display: flex;
    flex-direction: column;
    margin: 0 200px;
}

@media screen and (max-width: 640px) {
    .specialists {
        margin: 0;
    }
}

.specialists__position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 640px) {
    .specialists__position {
        margin-left: 23px;
    }
}

.specialists__text-big {
    font-family: 'Montserrat-500', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    color: #101010;
    margin-top: 130px;
}

@media screen and (max-width: 640px) {
    .specialists__text-big {
        font-size: 44px;
        line-height: 54px;
    }
}

.card-specialist {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 362px;
}

@media screen and (max-width: 640px) {
    .card-specialist{
        margin-top: 60px;
        width: 270px;
    }
}


.card-specialist__photo {
    border-radius: 200px;
}

.top-stylist {
    font-family: 'Montserrat-700', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #D0202A;
    margin-top: 10px;
}

.card-specialist__name {
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #101010;
    margin-top: 10px;
}

.card-specialist__text {
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    color: #101010;
    margin-top: 15px;
}

.butt-about_master {
    width: 361.61px;
    height: 38px;
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 62px;;
    font-family: 'Montserrat-600', serif;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #D0202A;
    margin-right: 12.5%;
    margin-top: 25px;
}

@media screen and (max-width: 640px) {
    .butt-about_master{
        width: 290px;
        height: 46px;
    }
}

.specialists__butt-sign-up {
    width: 361.61px;
    height: 38px;
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 62px;;
    font-family: 'Montserrat-600', serif;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #D0202A;
    margin-top: 10px;
    margin-right: 12.5%;
}

@media screen and (max-width: 640px) {
    .specialists__butt-sign-up {
        width: 290px;
        height: 46px;
    }
}


.specialists__butt-sign-up:hover {
    background-color: #D0202A;
    color: #FFFFFF;
}

.mgt-130 {
    margin-top: 130px;
}

@media screen and (max-width: 640px) {
    .mgt-130  {
        margin-top: auto;
    }
}
