@font-face {
    font-family: 'Montserrat-500';
    src: url('./font/Montserrat-Medium.ttf') format('opentype');
}

@font-face {
    font-family: 'Montserrat-400';
    src: url('./font/Montserrat-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Montserrat-600';
    src: url('./font/Montserrat-SemiBold.ttf') format('opentype');
}

@font-face {
    font-family: 'Montserrat-700';
    src: url('./font/Montserrat-Bold.ttf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
}

html body {
    height: 100%;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    min-height: 100vh;
    background: #FFFAE6;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 640px) {
    ul.menu,
    .butt-sign-up {
        display: none;
    }
}

.cover-header {
    width: 100%;
    height: 720px;
    background-image: url("./img/photo_cover 1.jpg");
    background-position: center;
}

@media screen and (max-width: 640px) {
    .cover-header {
        background-image: url("./img/photo_cover table.jpg");
        background-position: center;
    }
}

a {
    text-decoration: none;
}

.nav {
    width: 100%;
    height: 83px;
    background: rgba(255, 250, 230, 0.7);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;

}


.logo {
    width: 8.5%;
    height: 33px;
    margin-left: 200px;
}

@media screen and (max-width: 640px) {
    .logo {
        margin: 25px 20px 25px;
    }

}

.nav_menu {
    width: 647px;
    display: flex;
    flex-direction: column;
}


.menu {
    display: flex;
    list-style-type: none;
    font-family: 'Montserrat-400', serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #101010;
    margin-left: 47px;
}

.menu__link {
    min-width: 47px;
    margin-left: 27px;
}
.menu-in{
    display: flex;
}


.info {
    width: 12.5%;
    margin-left: 68px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 640px) {
    .info {
        display: none;
    }
}

.mode {
    height: 12px;
    font-family: 'Montserrat-400', sans-serif;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #101010;
}

.number {
    height: 12px;
    margin-top: 6px;
    font-family: 'Montserrat-700', serif;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

.butt-sign-up {
    width: 11.18%;
    height: 38px;
    background: #FFFFFF;
    border-color:  #FFFFFF;
    border-radius: 36px;
    font-family: 'Montserrat-600', serif;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #D0202A;
    margin-left: 40px;
    margin-right: 12.5%;
}

.butt-sign-up:hover{
    background: #D0202A;
    color: #FFFFFF;
}

.menu-burger {
    display: none;
}


@media screen and (max-width: 640px) {
    .menu-burger {
        display: flex;
        flex-direction: column;
        width: 41px;
        height: 23px;
        padding: 0 20px 30px;
    }

    .menu-burger__link {
        width: 41px;
        height: 3px;
        margin-top: 7px;

    }
}

.cover-block {
    width: 100%;
    display: flex;
    height: 637px;
}

.cover__block-text,
.cover-info {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.cover__block-text {
    display: flex;
    margin-top: 130px;
    margin-left: 200px;
}

@media screen and (max-width: 640px) {
    .cover__block-text {
        margin-top: 166px;
        margin-left: 20px;
    }
}

.cover__block-info {
    margin-left: -200px;
    width: 50%;
    background: rgba(208, 32, 42, 0.4);
}

@media screen and (max-width: 640px) {
    .cover__block-info {
        background: none;
    }
}

.cover__block-text__big {
    width: 571px;
    height: 145px;
    font-family: 'Montserrat-500', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    color: #FFFAE6;
}

@media screen and (max-width: 640px) {
    .cover__block-text__big {
        width: 600px;
        height: 108px;
        font-size: 44px;
        line-height: 54px;
    }
}

.cover__block-text__tablet {
    display: none;
}

@media screen and (max-width: 640px) {
    .cover__block-text__tablet {
        display: block;
        width: 365px;
        height: 80px;
        font-family: 'Montserrat-400', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        margin-top: 20px;
    }
}


.cover__block-text__small {
    width: 407px;
    height: 33px;
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 33px;
    color: #FFFFFF;
    margin-top: 15px;
}

@media screen and (max-width: 640px) {
    .cover__block-text__small {
        display: none;
    }
}

.butt-discount__about_us {
    width: 365px;
    height: 50px;
    background: #D0202A;
    border-radius: 36px;
    margin-top: 103px;
    font-family: 'Montserrat-600', sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.butt-discount__about_us:hover{
    background: #FFFFFF;
    border-color: #FFFFFF;
    color: #D0202A;
}

@media screen and (max-width: 640px) {
    .butt-discount__about_us {
        width: 259px;
        height: 50px;
        text-align: center;
        padding: 10px 48px;
    }
}

.cover__block-info__border {
    width: 365px;
    height: 140px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-top: 336px;
    margin-left: 235px;
}

@media screen and (max-width: 640px) {
    .cover__block-info__border {
        display: none;
    }
}

.cover__block-info__text {
    width: 227px;
    height: 60px;
    font-family: 'Montserrat-400', serif;
    line-height: 20px;
    color: #FFFFFF;
    padding: 25px 25px 0;
}

.cover__block-info__number {
    width: 140px;
    height: 20px;
    font-family: 'Montserrat-700', sans-serif;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 25px;
}

.services {
    width: 100%;
    display: flex;
}

@media screen and (max-width: 640px) {
    .services {
        height: auto;
    }
}


.services__margin {
    margin-top: 99px;
    margin-left: 11.25%;
    margin-right: 11.25%;
}

@media screen and (max-width: 640px) {
    .services__margin {
        margin: unset;
    }
}

.services__range {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

@media screen and (max-width: 640px) {
    .services__range {
        width: 640px;
        height: 382px;
        overflow-x: scroll;
        white-space: nowrap;
        flex-wrap: unset;
    }
}

.services__range__margin__small {
    margin: 0 19px;
    width: 270px;
}

.services__range__margin__big {
    margin: 0 19px;
    width: 580px;

}

.services__header {
    width: 253px;
    height: 73px;
    font-family: 'Montserrat-400', sans-serif;
    font-weight: normal;
    font-size: 60px;
    text-transform: uppercase;
    color: #000000;
}

@media screen and (max-width: 640px) {
    .services__header {
        width: 185px;
        height: 54px;
        font-size: 44px;
        margin: 95px 20px 30px;
    }
}

.services__range__text {
    width: 250px;
    height: 20px;
    font-family: 'Montserrat-700', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 15px;
}

.services__range__text-small {
    width: inherit;
    height: 32px;
    font-family: 'Montserrat-400', sans-serif;
    font-size: 12px;
    line-height: 130%;
    color: #656363;
    padding: 15px 13px 40px 0;
}

@media screen and (max-width: 640px) {
    .services__range__text-small {
        white-space: normal;
    }
}

.services__butt-discount {
    width: 365px;
    height: 50px;
    background: #D0202A;
    border-radius: 52px;
    font-family: 'Montserrat-600', sans-serif;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 70px;
    margin-left: 38.59%;;
}

.services__butt-discount:hover{
    background: #FFFFFF;
    border-color:  #FFFFFF;
    color: #D0202A;
}

@media screen and (max-width: 640px) {
    .services__butt-discount {
        margin-left: 137px;

    }
}

.proprietary {
    width: 100%;
    background: #FFFAE6;
    display: flex;
    flex-direction: column;
    margin-top: 130px;
}

.proprietary__text-big {
    width: 534px;
    height: 73px;
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 12.25%;
}

@media screen and (max-width: 640px) {
    .proprietary__text-big {
        margin-left: 20px;
        width: 392px;
        height: 54px;
        font-size: 44px;
        line-height: 54px;
    }
}


.proprietary-overflow {
    display: flex;
    overflow-x: scroll;
    margin-left: 275px;
}

@media screen and (max-width: 640px) {
    .proprietary-overflow {
        margin-left: 0;
    }
}

.card-employee {
    margin-top: 48px;
    margin-left: 50px;
    width: 612px;
    height: 371px;
    border-radius: 33px;
    background-color: rgba(208, 32, 42, 0.08);
}

@media screen and (max-width: 640px) {
    .card-employee {
        width: 600px;
        height: 349px;
        margin-left: 20px;
    }
}

.card-employee-name {
    margin: 50px;
    width: 321px;
    display: flex;
    align-items: center;
}

.card-employee-name-photo {
    border-radius: 50%;
}

.proprietary__text {
    width: 240px;
    height: 28px;
    font-family: 'Montserrat-700', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 17px;
}

.proprietary__text-small {
    width: 512px;
    height: 100px;
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #656363;
    margin: 43px 50px;
}

.proprietary__image {
    display: flex;
    margin-top: 130px;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 640px) {
    .proprietary__image {
        justify-content: space-evenly;
    }
}

.proprietary__image__block{
    display: flex;
    flex-direction: column;
    width: 112px;
    height: 112px;
    align-items: center;
}

.proprietary__image__text {
    width: 149px;
    height: 40px;
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-top: 25px;
}

.welcome {
    display: flex;
    flex-direction: column;
}

.welcome__text-big {
    width: 75%;
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 130px;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

@media screen and (max-width: 640px) {
    .welcome__text-big {
        width: 601px;
        font-size: 44px;
        line-height: 54px;
        margin-top: 107px;
        margin-left: 15px;
    }
}

.welcome__text-visit {
    display: flex;
    align-items: inherit;
    justify-content: space-around;
    margin-top: 49px;
    margin-left: 37px;
}

@media screen and (max-width: 640px) {
    .welcome__text-visit {
        display: block;
        margin-left: 20px;
    }
}

.welcome__visit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 640px) {
    .welcome__visit {
        flex-direction: row;
        flex-wrap: wrap;
        width: 588px;
    }
}

.visit__text {
    width: inherit;
    height: 46px;
    font-family: 'Montserrat-500', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #101010;
    justify-content: space-around;
    display: flex;
    margin-top: 30px;
}

@media screen and (max-width: 640px) {
    .visit__text {
        height: 39px;
        font-size: 32px;
        line-height: 39px;
        justify-content: unset;
    }
}

.visit__text:before {
    content: "";
    display: inline-block;
    width: 37px;
    height: 35px;
    background: #D0202A;
    border: 1px solid #D0202A;
    border-radius: 50%;
}

@media screen and (max-width: 640px) {
    .visit__text:before {
        width: 31px;
        height: 31px;
    }
}

.visit__text-small {
    width: 247px;
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #D0202A;
    margin-top: 15px;
    margin-left: 57px;
}

@media screen and (max-width: 640px) {
    .visit__text-small {
        width: 184px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 10px;
        margin-left: 43px;
    }
}

@media screen and (max-width: 640px) {
    .card {
        height: 334px;
        margin-top: 40px;
    }
}

.portfolio {
    display: flex;
    flex-direction: column;
}

.portfolio__text {
    width: 429px;
    height: 73px;
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 130px;
    margin-left: 195px;
}

@media screen and (max-width: 640px) {
    .portfolio__text {
        margin-top: 79px;
        margin-left: 22px;
        font-size: 44px;
        line-height: 54px;
    }
}

.portfolio__image {
    width: 62.5%;
    display: flex;
    overflow-x: scroll;
    margin-top: 70px;
    margin-left: 37.31%;
    margin-bottom: 191px;
    transition: 1s;
}

.proprietary__image__link {
    width: 323px;
    height: 536px;
    margin-right: 40px;
    transition: 1s;
}

@media screen and (max-width: 640px) {
    .proprietary__image__link {
        width: 153px;
        height: 254px;
        margin-right: 19px;
    }
}

.proprietary__image__link:hover {
    width: 407px;
    height: 676px;
    transform: scale(1.2);
}

@media screen and (max-width: 640px) {
    .proprietary__image__link:hover {
        width: 194px;
        height: 321px;
        transform: scale(1.2);
    }
}


.stock__text-big {
    width: 234px;
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 12.18%;
}

@media screen and (max-width: 640px) {
    .stock__text-big {
        font-size: 44px;
        line-height: 54px;
    }
}

.stock__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 200px 0;
}

@media screen and (max-width: 640px) {
    .stock__block {
        margin: 17px 16px 24px 0;
    }
}

.stock__block-text {
    display: flex;
    width: 364px;
    height: 352px;
    border: 1px solid #101010;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 35px;
    margin-top: 50px;
}
.stock__block-text:hover {
    color: #FFFFFF;
    background: #D0202A;
}


@media screen and (max-width: 640px) {
    .stock__block-text {
        width: 290px;
        height: 290px;
        margin-top: 20px;
        padding: 0 35px 108px;
        justify-content: end;
    }
}

@media screen and (max-width: 640px) {
    .stock__block-text:nth-child(5) {
        padding: 0 35px 88px;
    }
}

.shot-border {
    border-radius: 50%;
}

.long-border {
    width: 782px;
    height: 354px;
    border-radius: 205px;
}

@media screen and (max-width: 640px) {
    .long-border {
        width: 600px;
        height: 291px;
        border-radius: 300px;
    }
}

.stock__block-image {
    width: 354px;
    height: 354px;
    margin-top: 40px;
}

@media screen and (max-width: 640px) {
    .stock__block-image {
        display: none;
    }
}

.stock__block-image-tablet {
    display: none;
}

@media screen and (max-width: 640px) {
    .stock__block-image-tablet {
        display: flex;
        width: 290px;
        height: 290px;
        margin-top: 20px;
    }
}

.stock__text-small {
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #D0202A;
}


@media screen and (max-width: 640px) {
    .stock__text-small {
        font-size: 14px;
        line-height: 17px;
    }
}

.stock__text {
    font-family: 'Montserrat-500', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .stock__text {
        font-size: 30px;
        line-height: 37px;
    }
}

.form {
    height: 558px;
    background: #D0202A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

@media screen and (max-width: 640px) {
    .form {
        height: 419px;
        margin-top: 80px;
    }
}

.form__text {
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 43.625%;
}

@media screen and (max-width: 640px) {
    .form__text {
        font-size: 38px;
        line-height: 46px;
        width: 82.5%;
    }
}

.form__text-small {
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 31.625%;
    margin-top: 10px;
}

@media screen and (max-width: 640px) {
    .form__text-small {
        font-size: 16px;
        line-height: 20px;
        width: 79%;
    }
}

.form__input {
    display: flex;
    margin-top: 40px;
}

@media screen and (max-width: 640px) {
    .form__input {
        margin-top: 30px;
        margin-left: 24px;

    }
}

.form__number {
    width: 409px;
    height: 61px;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #656363;
    padding-left: 30px;
}

@media screen and (max-width: 640px) {
    .form__number {
        width: 325px;
        font-size: 14px;
        line-height: 17px;
        padding-left: 18px;
    }
}

.form__submit {
    width: 248px;
    height: 61px;
    background: #101010;
    border-radius: 52px;
    font-family: 'Montserrat-600', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 14px;
}

@media screen and (max-width: 640px) {
    .form__submit {
        margin-left: 12px;
    }
}

footer {
    display: flex;
    align-items: flex-end;
}

.contacts {
    display: flex;
    height: 558px;
    width: 100%;
}

@media screen and (max-width: 640px) {
    .contacts {
        display: flex;
        flex-flow: wrap;
        height: 897px;
    }
}

@media screen and (max-width: 640px) {
    .col1 {
        order: 2;
    }
}

.maps {
    width: 50%;
}

@media screen and (max-width: 640px) {
    .maps {
        height: 50%;
        width: 100%;
    }
}

.contacts-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 44px;
}

@media screen and (max-width: 640px) {
    .contacts-text {
        margin-left: 24px;
        height: 50%;
    }
}

.contacts-text__big {
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 73px;
    text-transform: uppercase;
    color: #101010;
    margin-top: 130px;
}

@media screen and (max-width: 640px) {
    .contacts-text__big {
        font-size: 44px;
        line-height: 54px;
        margin-top: 97px;
    }
}

.contacts_block {
    display: flex;
    margin-top: 50px;
}

@media screen and (max-width: 640px) {
    .contacts_block {
        margin-top: 40px;
    }
}

.contacts_block-icon {
    align-self: start;
}

.contacts_block_address {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}


.contacts-text__address {
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #101010;
}

.contacts__number {
    font-family: 'Montserrat-700', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #101010;
    margin-top: 10px;
}

@media screen and (max-width: 640px) {
    .contacts__number {
        margin-top: 15px;
    }
}

.insta {
    font-family: 'Montserrat-400', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #101010;
    margin-top: 40px;
}

@media screen and (max-width: 640px) {
    .insta {
        margin-top: 35px;
    }
}

.insta:hover {
    text-decoration: underline;
}
